
body{
    background-color: #e9e9e9;
    
}
h1{
    text-align: center;
}
#nameTask{

    border: 0.05px solid black;
    border-radius:15px;
    padding:7px;
    width:565px;
   
}
#addTask
{
    border: 0.05px solid black;
    border-radius:15px;
    padding:7px;

}

#allTasks div
{
    display: inline;
}

#allTasks{

    position: relative;
    border: 0.5px solid black;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    
    

}
#corpo
{
   
    width: 700px;
    margin-right: auto;
    margin-left: auto;
}

.task{

    margin-bottom: 10px;

}
.botao{

    display: block;
    margin-left: auto;
    margin-top:-20px;
}